:root {
    --color-pri:#c2ffc2;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pri);
    width: 100vw;
    height: 15vh;

}
header div{
    margin-right: 20px;
    
}
header div h1{
    font-size: 30px;
}
header nav{
    margin: 20px;
}
header nav a{
    text-decoration: none;
    margin: 20px;
}
/* section de login*/
.sec-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
.login{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--color-pri);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}
.dados-text{
    font-size: 20px;
    margin-bottom: 10px;
}
.dados{
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-bottom: 30px;
    background-color: white;
    font-size: 16px;
}
.new-acc{
    border: 1px solid var(--color-pri);
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
}
.new-acc a{
    color: #ffffc2;
}