:root {
    /* colors-body */
    --color-bg:#F1F2DE;
    --color-pri:#FCFBF8;
    --color-border:#E5E0DF;
    --color-sec:#FAF9F4;
    /* colors-texts */
    --color-title:#233E32;
    --color-text:#2C2821;
    --color-dest:#1B5F39;
    /* text-size */
    --text-size:23px;
    --title-h1:40px;
    --title-h2:28px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--color-bg);
}
header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pri);
    width: 100vw;
    height: 10vh;
    border: 1px solid var(--color-border);
}
header div{
    margin-right: 20px;
    
}
header div h1{
    font-size: 38px;
}
header nav{
    margin: 20px;
}
header nav a{
    text-decoration: none;
    margin: 20px;
    color: var(--color-dest);
    font-size: var(--text-size);
}

/* section-login */
.sec-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login{
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 400px;
    background-color: var(--color-pri);
    border-radius: 6px;
    padding: 20px 0 20px 0;
    margin: 20px;
    border: 1px solid var(--color-border);
}
.login div{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login div h1{
    color: var(--color-dest);
    font-size: var(--title-h1);
}
.login div h2{
    color: var(--color-text);
    font-size: var(--title-h2);
}
.dados-text{
    font-size: var(--text-size);
    margin: 0 0 10px 20px;
    color: var(--color-text);
}
.dados{
    border-radius: 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-sec);
    font-size: 16px;
    flex: auto;
    margin: 0 20px 20px 20px ;
    color: var(--color-text);
    padding: 0 7px;
}
#btn-login{
    cursor: pointer;
    transition: 1s;
    background-color: var(--color-dest);
}
#btn-login:hover{
    background: #1b5f39cc;
}
.login p{
    color: var(--color-text);
    font-size: var(--text-size);
    margin: 0 20px;
}
.login p a{
    color: var(--color-dest);
}
.new-acc{
    border: 1px solid var(--color-border);
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 6px;
    background-color: var(--color-pri);
}
.new-acc p{
    color: var(--color-text);
    font-size: 23px;
}
.new-acc p a{
    color: var(--color-dest);
}

/* section-vantagens */
.sec-van-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
}
.sec-vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.vantagens ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}
.vantagens ul li{
    margin: 40px;
}

/* section-perguntas */
.sec-perguntas ul{
    display: flex;
    flex-direction: column;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
footer ul li{
    margin: 0 40px;
}
@media(max-width:600px){
    :root{
        --text-size:16px;
        --title-h1:33px;
        --title-h2:19px
    }
    .sec-login{
        align-items: end;
    }
    .login{
        width: 100vw;
    }
    .new-acc{
        width: 100vw;
    }
}